<div class="popup-overlay">
  <div class="popup-card">
    
    <!-- Image principale -->
    <div class="popup-image">
      <img [src]="imageSrc" alt="icon" />
    </div>

    <!-- Bloc WhatsApp -->
    <div *ngIf="type === 'whatsapp'">
      <h3 class="popup-title">Restons en contact</h3>
      <p class="popup-subtitle">Quel est ton numéro WhatsApp ?</p>

      <div class="popup-input-group">
        <div class="phone-container">
          <img src="assets/drapeau.png" alt="ci" class="flag-icon" />
          <span class="phone-prefix">+225</span>
          <input 
            type="tel" 
            [(ngModel)]="value" 
            placeholder="Entrez votre numéro WhatsApp"
            class="popup-input" 
          />
        </div>
      </div>
    </div>

    <!-- Bloc Nom complet -->
    <div *ngIf="type === 'fullname'">
      <h3 class="popup-title">Faisons connaissance</h3>
      <p class="popup-subtitle">Quel est ton nom ?</p>

      <div class="popup-input-group">
        <input 
          type="text" 
          [(ngModel)]="value" 
          placeholder="Entrez votre nom complet"
          class="popup-input" 
        />
      </div>
    </div>

    <!-- Bloc Install -->
    <div *ngIf="type === 'install'">
      <h2 class="popup-title">Daymond</h2>
      <p class="popup-subtitle">
        Est déjà installée sur votre téléphone ?<br />
        Cliquez ici pour ouvrir.
      </p>
    </div>

    <!-- Flèche -->
    <div class="popup-action" (click)="onSubmit()">
      <img src="assets/icons/arrow-down.png" alt="Valider" class="popup-arrow" />
    </div>
  </div>
</div>
